SA_PASSWORD=senhadoBanco
DB_NAME=nomeDoBanco
DB_USER=usuarioDoBanco
DB_HOST=sqlserver
DB_PORT=1433

CONNECTION_STRING=Server=sqlserver,1433;Database=nomeDoBanco;User Id=usuarioDoBanco;Password=senhadoBanco!;TrustServerCertificate=True
